@model Bilet.Entity.Entity.Guzergah

@{
    ViewBag.Title = "Index";
}

<head>
    <title>Flight Ticket Booking a Flat Responsive Widget Template :: w3layouts</title>
    <link rel="stylesheet" href="~/css/style2.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Flight Ticket Booking  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"
            integrity="sha256-iBcUE/x23aI6syuqF7EeT/+JFBxjPs5zeFJEXxumwb0="
            crossorigin="anonymous"></script>
</head>
<!-- banner -->
<section class="banner_inner" id="home">
    <div class="banner_inner_overlay">
    </div>
</section>
<!-- //banner -->

<body>
    <h1>Şehirlerarası Otobüs Bileti Al</h1>
    <div class="main-agileinfo">
        <div class="sap_tabs">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>Sefer Bilgileri</span></li>
                </ul>
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">

                    <div class="tab-1 resp-tab-content oneway">
                        <form action="#" method="post">
                            <div class="from">
                                <h3>Nereden?</h3>

                                <select id="cbKalkisYerleri">
                                    <option value="-1">Kalkış yeri Seçiniz.</option>
                                    @foreach (var ky in ViewBag.KalkisYerler)
                                    {
                                        <option value="@ky.Id">@ky.KalkisYer</option>
                                    }
                                </select>
                            </div>
                            <div class="to">
                                <h3>Nereye?</h3>
                                <select id="cbDestinasyonlar"></select>

                            </div>
                            <div class="clear"></div>
                            <div class="date">
                                <div class="depart">
                                    <h3>Ne Zaman?</h3>
                                    <select id="cbKalkisTarihleri"></select>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="class">
                                <h3>Saat Kaçta?</h3>
                                <select id="cbKalkisSaatleri"></select>
                            </div>
                            <div class="class">
                                <h3>Hangi Şoför?</h3>
                                <select id="cbOtobusler"></select>
                            </div>
                            <div class="clear"></div>                           
                            <a id="ks" >Koltuk Seç</a>                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; 2016 Flight Ticket Booking . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    <!--script for portfolio-->
    <!--kalkış yerine göre destinasyon seçimi-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbKalkisYerleri").on('change', function () {
                console.log("change");
                var KalkisYeriId = $('#cbKalkisYerleri option:selected').val();
                console.log(KalkisYeriId);
                $.ajax({
                    type: 'GET',
                    data: { KalkisYerId: KalkisYeriId },
                    url: "/Bilet/DestinasyonGetir",
                    success: function (result) {
                        //var destinasyonlar = JSON.parse(result);
                        var s = '<option value="-1">Destinasyon Seçiniz.</option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Id + '">' + result[i].Destinasyon + '</option>'
                        }
                        $('#cbDestinasyonlar').html(s);
                    }

                });
            });
        });
    </script>
    <!--kalkış yerine göre destinasyon seçimi-->
    <!--sefere göre tarih seçimi-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbDestinasyonlar").on('change', function () {
                console.log("change");
                var KalkisYeriId = $('#cbKalkisYerleri option:selected').val();
                var DestinasyonId = $('#cbDestinasyonlar option:selected').val();
                console.log(KalkisYeriId);
                $.ajax({
                    type: 'GET',
                    data: { KalkisYerId: KalkisYeriId, DestinasyonId: DestinasyonId },
                    url: "/Bilet/TarihGetir",
                    success: function (result) {
                        //var destinasyonlar = JSON.parse(result);
                        var s = '<option value="-1">Kalkış Tarihi Seçiniz.</option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Id + '">' + result[i].KalkisTarihi + '</option>'
                        }
                        $('#cbKalkisTarihleri').html(s);
                    }

                });
            });
        });
    </script>
    <!--sefere göre tarih seçimi-->
    <!--tarihe göre saat seçimi-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbKalkisTarihleri").on('change', function () {
                console.log("change");
                var KalkisYeriId = $('#cbKalkisYerleri option:selected').val();
                var DestinasyonId = $('#cbDestinasyonlar option:selected').val();
                var SeferId = $('#cbKalkisTarihleri option:selected').val();
                console.log(KalkisYeriId);
                $.ajax({
                    type: 'GET',
                    data: { KalkisYerId: KalkisYeriId, DestinasyonId: DestinasyonId, SeferId: SeferId },
                    url: "/Bilet/SaatGetir",
                    success: function (result) {
                        //var destinasyonlar = JSON.parse(result);
                        var s = '<option value="-1">Kalkış Saati Seçiniz.</option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Id + '">' + result[i].KalkisSaati + '</option>'
                        }
                        $('#cbKalkisSaatleri').html(s);
                    }

                });
            });
        });
    </script>
    <!--tarihe göre saat seçimi-->
    <!--saate göre otobüs seçimi-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbKalkisSaatleri").on('change', function () {
                console.log("change");
                var KalkisYeriId = $('#cbKalkisYerleri option:selected').val();
                var DestinasyonId = $('#cbDestinasyonlar option:selected').val();
                var SeferId = $('#cbKalkisTarihleri option:selected').val();
                var SeferSaatId = $('#cbKalkisSaatleri option:selected').val();
                console.log(KalkisYeriId);
                $.ajax({
                    type: 'GET',
                    data: { KalkisYerId: KalkisYeriId, DestinasyonId: DestinasyonId, SeferId: SeferId, SeferSaatId: SeferSaatId },
                    url: "/Bilet/OtobusGetir",
                    success: function (result) {
                        //var destinasyonlar = JSON.parse(result);
                        var s = '<option value="-1">Şoför Seçiniz.</option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Id + '">' + result[i].Sofor + '</option>'
                        }
                        $('#cbOtobusler').html(s);
                    }

                });
            });
        });
    </script>
    <!--saate göre otobüs seçimi-->
    <!--otobüse göre button enable etme-->
    <script type="text/javascript">
        //var degisecek = document.querySelector("#cbOtobusler");
        //var aktiflik = document.querySelector('#ks');
        //degisecek.onchange = function () {
        //    aktiflik.removeAttribute('disabled');
        //};
        var OId;
        $("#cbOtobusler").on('change', function () {
            console.log("change");
            OId = $('#cbOtobusler option:selected').val();
            console.log(OId);
            var ksstring = "/Bilet/KoltukSec/?OtobusId=" + OId;
            console.log(ksstring);
            $("#ks").attr("href", ksstring);
            $("#ks").attr("class", "btn btn-primary");

        });
        console.log(OId);

    </script>
    <!--otobüse göre button enable etme-->

    <script src="js/jquery.min.js"></script>
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <!--//script for portfolio-->
    <!-- Calendar -->
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!--quantity-->
    <!--//quantity-->
    <!--load more-->
    <!-- //load-more -->





</body>

